.header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    background-color: black;
}

.header_container {
    padding: 10px 40px;
    width: 100%;
    max-width: 1116px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_title {
    margin: auto;
    font-weight: 700;
    font-size: 28px;
    text-transform: uppercase;
    color: white;
}